@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}
textarea{
	resize: none;
	width:300px;
}
aside{
 width:30%;
}
article{
	width:70%;
}
h1{
	font-size:40px;
	text-align:center;
	border-bottom: 3px solid #8490c8;
}
a {
    text-decoration: none;
    color: #24738e;
}
label{
	padding:10px;
	font-size:25px;
}

.frew{
	padding:40px;
	font-size:16px;
	background:#dbedf0;
	display: flex;
	justify-content: space-around;
}
.er{
	color:red;
}
.mar{
	margin-left:40px;
}
button{
	display:block;
  width:150px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
}
frew{
	padding:40px;
	font-size:10px;
	background:#dbedf0;
	display: flex;
	justify-content: space-around;
}
.maink1{
	display:none;
}
aside{
 width:0%;
}
article{
	width:100%;
}
}
