<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimplecookList</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>main.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>main.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create</display-name>
    <servlet-name>Create</servlet-name>
    <servlet-class>Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/EncodingFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter1</display-name>
    <filter-name>EncodingFilter1</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>main.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All</display-name>
    <servlet-name>All</servlet-name>
    <servlet-class>main.All</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get</display-name>
    <servlet-name>Get</servlet-name>
    <servlet-class>main.Get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get</servlet-name>
    <url-pattern>/Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gooder</display-name>
    <servlet-name>Gooder</servlet-name>
    <servlet-class>main.Gooder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gooder</servlet-name>
    <url-pattern>/gooder</url-pattern>
  </servlet-mapping>
</web-app>